# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Build directories
bin/
build/
dist/
pkg/

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Env file
.env

# Editor/IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
